.main-frame{
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // background-image: linear-gradient(#123, #112228, #123);
    // background: rgba(0,0,0,0.2);

    .button{
        font-family: "Cuprum"
    }
}

@import "menu";
